/****************************************
* Yellow Background: #ffde22
* Yellow Primary: #ffe23b
* Pink / Red Circle: #ff414e
* Orange Circle: #ff8928
* White Layover: #ffffff
***************************************
* Colour Schemas
* Are ya yellow?!: #feda6a
* Silver Fox: #d4d4dc
* Deep Matte Grey: #393f4d
* Dark Slate: #1d1e22
***************************************/


/****************************************
* Theme Variables
***************************************/
$brandFont: 'Playfair Display', serif;
$brandFontBody: 'Space Text', sans-serif;

$brandPrimary: #ffde22;
$brandSecondary: #ff414e;
$brandSecondaryOff: #e5cacc;
$brandTertiary: #ff8928;
$brandBlack: #202226;
$brandWhite: #ffffff;

$brandBackground: #ffe96e;

$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 20px;

$screen-size-xl: 1200px;
$screen-size-lg: 992px;
$screen-size-md: 768px;
$screen-size-sm: 576px;

/****************************************
 * General Styling
 ***************************************/
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  font-family: $brandFontBody;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-300deg, #ff414e 0%, #ff8928 100%);
  font-weight: 700;
  color: $brandWhite;

  h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	strong,
	li,
	a,
	img,
	span {
		&::selection {
			color: #ffde22;
			background-color: #ff414e;
		}
	}
}

a {
  position: relative;
  color: $brandWhite;
  text-decoration: none;
  // transition: all 0.3s ease-out;

  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $brandWhite;
    visibility: hidden;
    transition: all 0.3 ease-in;
  }
  
  &:hover {
    text-decoration: none;
    
    &:before {
      visibility: visible;
      width: 100%;
      transition: all 0.3s ease-out;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $brandFontBody;
}

h1,
h1 {
  font-size: 4.5rem;
  
  @media (max-width: $screen-size-md - 1) {
    font-size: 3rem;
    margin-top: 14px;
    margin-bottom: 1rem;
  }
}

button,
.btn {
  display: inline-block;
  background-color: $brandWhite;
  border: none;
  color: $brandSecondary;
  padding: 15px 60px;
  border: solid 2px $brandWhite;
  transition: all 0.3s ease-in;
  
  &:hover,
  &:focus {
    cursor: pointer;
    color: $brandWhite;
    box-shadow: inset 250px 0 0 0 $brandSecondary;
    transition: all 0.3s ease-in;
  }

  .page-intro & {
    font-size:  1rem;
    font-weight: 700;
  }
}

/****************************************
* Grid Styling
***************************************/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  
  @media (min-width: $screen-size-md) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  @media (min-width: $screen-size-lg) {
    padding-right: 60px;
    padding-left: 60px;
  }
  
  @media (max-width: $screen-size-md - 1) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  &-logo,
  &-footer {
    -ms-flex-pack: center;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    
    @media (min-width: $screen-size-md) {
      height: 100px;
    }
  }
  
  &-welcome,
  &-projects,
  &-tech,
  &-contact,
  &-thanks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    @media (min-width: $screen-size-md ) {
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &-projects {
    @media (max-width: $screen-size-lg - 1 ) {
      -ms-flex-align: normal;
      align-items: normal;
    }
  }
}

.page-container {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media (max-width: $screen-size-md - 1 ) {
    min-height: calc(100vh - 102px);
  }
}


.col {
  width: 100%;

  @media (min-width: $screen-size-md) {
    .header & {
      width: auto;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  } 
  @media (min-width: $screen-size-sm) {
    footer & {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  @media (min-width: $screen-size-lg) {
    width: auto;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    
  &.col-gutter {
      padding: 0 15px;
    }
    
    &.col-gutter-right {
      padding-right: 15px;
    }
    
    &.col-gutter-left {
      padding-left: 15px;
    }
  }

  @media (max-width: $screen-size-lg - 1) {
    .project-component-container & {
      width: 100%; 
    }

    .container-projects &,
    .container-contact &  {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
}

/****************************************
 * Header Styling
 ***************************************/
.wrapper {
  // padding-top: 64px;
}
.header {
  @media (max-width: $screen-size-md - 1) {
    // width: 100%;
    // position: fixed;
    // top: 0;
    // background-image: linear-gradient(-300deg, #ff414e 0%, #ff8928 100%);
    // z-index: 50;
  }
}
.col-logo {
  @media (max-width: $screen-size-lg - 1) {
    border-left: solid 2px $brandWhite;
  }
  @media (max-width: $screen-size-md - 1) {
    width: 100%;
    order: 12;
  }
}
.col-navigation {
  @media (max-width: $screen-size-md - 1) {
    order: 1;
  }
}
 .logo {
  display: block;
  font-family: $brandFontBody;
  font-size: $font-size-md;
  margin: 0 0 .5rem 0;
  
  @media (max-width: $screen-size-lg - 1) {
    padding-left: 15px;
  }
  
  @media (min-width: $screen-size-lg) {
    display: inline;
    margin: 0;
    padding-right: 15px;
  }
}

.tagline {
  display: block;
  font-family: $brandFontBody;
  font-size: $font-size-md;
  margin: 0;
  
  @media (max-width: $screen-size-lg - 1) {
    padding-left: 15px;
  }
  
  @media (min-width: $screen-size-lg) {
    display: inline;
    border-left: solid 2px $brandWhite;
    padding-left: 15px;
  }
}

.navigation-toggler {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0;

  width: 36px;
  height: 30px;
  position: fixed;
  top: 14px;
  top: 14.5px;
  right: 15px;
  padding: 0;
  z-index: 200;

  span,
  span::before,
  span::after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: $brandWhite;
  }

  span::before {
    transform: translateY(-9px);
    content: "";
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in, transform 0.3s;

    .nav-open & {
      background-color: $brandWhite;
      transform: rotate(-45deg);
    }
  }

  span::after {
    content: "";
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in, transform 0.3s;
    transform: translateY(9px);

    .nav-open & {
      background-color: $brandWhite;
      transform: rotate(45deg);
    }
  }

  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in;

    .nav-open & {
      background-color: transparent;
    }
  }

  &:hover span,
  &:hover span::before,
  &:hover span::after {
    background-color: $brandWhite;
  }

  &:hover span {
    .nav-open & {
      background-color: transparent;
    }
  }

  &:hover span::before,
  &:hover span::after {
    .nav-open & {
      background-color: $brandPrimary;
    }
  }

  &:hover {
    box-shadow: none;
  }

  &:focus {
    background-color: transparent;
    box-shadow: none;
    outline: 5px auto -webkit-focus-ring-color;
  }

  @media (min-width: $screen-size-md) {
    display: none;
  }
}

.navigation {
  text-align: right;

  a {
    margin-left: 15px;

    &.active {
      color: $brandPrimary;
    }
  }

  @media (max-width: $screen-size-md - 1) {    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-direction: normal;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $brandSecondary;
    padding: 30px;
    overflow: scroll;
    z-index: 100;
    transform: translateZ(0);
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
    
    a {
      .nav-open & {
        animation: slide-in 0.4s 0.2s backwards;
      }

      font-size: 2.25rem;
      text-align: left;
      color: $brandWhite;
      transform: translateZ(0);
      animation-delay: 0.3s;
      margin: 0;
      
      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      
      &:nth-of-type(3) {
        animation-delay: 0.5s;
      }
      
      &:nth-of-type(4) {
        animation-delay: 0.6s;
      }
    }

    .nav-open & {
      transform: translateX(0);
    }
  }

  @media (max-width: $screen-size-sm - 1) {
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
  }
}

/****************************************
 * Page Styling
 ***************************************/
 .page-intro {
  font-size: 3rem;
  font-weight: 100;
  text-align: right;

  @media (min-width: $screen-size-md) {
    .container-welcome & {
      max-width: 90%;
      margin-left: auto;
    }
  }
  @media (max-width: $screen-size-lg - 1) {
    margin-bottom: 2rem;
  }
  @media (max-width: $screen-size-md - 1) {
    width: calc(100% - 35px);
    font-size: 1.875rem;
    text-align: left;
    margin-right: auto;
  }
}

.tech-label {
  display: inline-block;
  font-size: 3rem;
  margin-right: 10px;
  @media (min-width: $screen-size-md) {
    text-align: center;
  }
  @media (min-width: $screen-size-lg) {
    display: block;
    margin-bottom: 0.75rem;

    &:nth-of-type(odd) {
      margin-right: 25%;
    }
    
    &:nth-of-type(even) {
      margin-left: 25%;
    }
  }
}

.container-projects > .col {
  @media (min-width: $screen-size-lg) {
    max-width: 50%;
  }
}

.project-slider {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  .slick-next {
    width: auto;
    height: auto;
    position: absolute;
    color: $brandWhite;
    top: auto;
    top: initial;
    right: 0;
    bottom: -10px;
    left: auto;
    left: initial;
    font-size: 1rem;
    line-height: 1.5rem;

    &:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: $brandWhite;
      visibility: hidden;
      transition: all 0.3 ease-in;
    }

    &:hover,
    &:focus {
      color: $brandWhite;
    }
    
    &:hover {
      text-decoration: none;
      
      &:before {
        visibility: visible;
        width: 100%;
        transition: all 0.3s ease-out;
      }
    }
  }
  .slick-prev {
    display: none;
  }
}

.project-tech {
  @media (max-width: $screen-size-lg - 1) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

.project-component-container {
  @media (min-width: $screen-size-lg) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
  }
}
.project-tech-title {
  @media (min-width: $screen-size-sm) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
  }
}
.project-component-container {
  -ms-flex-align: stretch;
  align-items: stretch;

  .col-gutter-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;

    @media (min-width: $screen-size-md) {
      padding-left: 0;
    }
  }
}

.project-tech-title .spacer {
  margin: 0 15px 0 0;
  @media (min-width: $screen-size-sm) {
    margin: 0 15px;
  }
}

.project-tech-list {
  margin-bottom: 0.5rem;
}

.project-next {
  margin-top: auto;
  margin-right: auto;
  svg {
    font-size: $font-size-lg;
    vertical-align: bottom;
  }
}

/****************************************
 * Contact Form Styling
 ***************************************/
.contact-form {
  margin-bottom: 0;

  @media (max-width: $screen-size-md - 1) {
    margin-bottom: 1rem;
  }

  .label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input,
  textarea {
    width: 100%;
    display: block;
    border: none;
    color: $brandSecondary;
    padding: 15px;

    &:focus {
      background-color: $brandSecondaryOff;
    }
    // &::-webkit-input-placeholder {
    //   color: $brandTertiary;
    //   opacity: 1;
	  // }
    
	  // &::-ms-input-placeholder {
    //   color: $brandTertiary;
    //   opacity: 1;
	  // }
    
	  // &::-moz-placeholder {
    //   color: $brandTertiary;
	  //   opacity: 1;
	  // }
    
	  // &:-moz-placeholder {
    //   color: $brandTertiary;
	  //   opacity: 1;
	  // }
    
	  // &:-ms-input-placeholder {
    //   color: $brandTertiary;
    //   opacity: 1;
	  // }
    
	  // &:placeholder-shown {
    //   color: $brandTertiary;
    //   opacity: 1;
	  // }
    
	  // &::placeholder {
    //   color: $brandTertiary;
    //   opacity: 1;
	  // }
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

/****************************************
 * Footer Styling
 ***************************************/
.container-footer p {
  margin-bottom: 0;
}

.col-social {
  text-align: right;
  justify-content: flex-end;
  p {
    font-size: 24px;
    display: inline-block;
    margin-right: 1rem;
  }
}
.container-copyright {
  text-align: center;
  font-size: $font-size-sm;
}
/****************************************
 * Animation Styling
 ***************************************/
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}